<ul class="nav nav-tabs justify-content-between">
              <li class="nav-item">
                  <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true"><h2 class=" title-block ">
                    <Strong >Công Nghệ</Strong>
                  </h2></a>
              </li>
              <li class="nav-item" >
                  <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false"><h2 class=" title-block ">
                    <Strong  class="bg-info" >Thời Trang</Strong>
                  </h2></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3" aria-selected="false"><h2 class=" title-block ">
                    <Strong class="bg-success"  >Gia Dụng</Strong>
                  </h2></a>
              </li>
          </ul>
          
            
            <div class="tab-content mt-3 " >
                <div class="tab-pane fade show active "  id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                  
                      <div class="product_list-s py-3">
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <img src="/image/banner_1.webp" class="img-fluid">
                            </div>
                            <div class="col-md-3 mb-3">
                                <form>
                                    <div class="position-relative" data-product-id="sp1">
                                        <div class="img-container" onclick="toggleHeart(this)">
                                        <div class="heart-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                            </svg>
                                        </div>
                                        <p>
                                            <img src="/image/dienthoai1.webp" alt="Product Image" class="img-fluid">
                                            <span class="badge bg-secondary">New</span>
                                        </p>
                                        </div>
                                        <span class="badge bg-warning position-absolute top-0 start-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                            <path d="M8 0L0 16h16L8 0z"/>
                                        </svg>
                                        <h6>Giảm giá</h6>
                                        <h6>20%</h6>
                                        </span>
                                        <h3 class="product-name">
                                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Samsung S23 ultra</a>
                                        </h3>
                                        <div class="price-box">
                                        <span class="price">690.000₫</span><br>
                                        <span class="compare-price">1.790.000₫</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
    
                          <div class="col-md-3 mb-3">
                                <form>
                                    <div class="position-relative" data-product-id="sp2">
                                        <div class="img-container" onclick="toggleHeart(this)">
                                        <div class="heart-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                            
                                            </svg>
                                            
                                        </div>
                                        <p>
                                        <img src="/image/dienthoai2.webp" alt="Product Image" class="img-fluid">
                                        <span class="badge bg-secondary">New</span>
                                        </p>
                                        </div>
                                        <span class="badge bg-warning position-absolute top-0 start-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                            <path d="M8 0L0 16h16L8 0z"/>
                                        </svg>
                                        <h6>Giảm giá</h6>
                                        <h6>20%</h6>
                                        </span>
                                        <h3 class="product-name">
                                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                                        
                                        </h3>
                                        <div class="price-box">
                                        <span class="price">690.000₫</span><br>
                                        <span class="compare-price">1.790.000₫</span>
                                        </div>
                                    </div>
                                </form>
                          </div>
    
                            <!--sp3-->
                             <div class="col-md-3 mb-3">
                                <form>
                                    <div class="position-relative" data-product-id="sp3">
                                        <div class="img-container" onclick="toggleHeart(this)">
                                        <div class="heart-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                            </svg>
                                        </div>
                                        <img src="/image/dienthoai3.webp" alt="Product Image" class="img-fluid">
                                        </div>
                                        <span class="badge bg-warning position-absolute top-0 start-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                            <path d="M8 0L0 16h16L8 0z"/>
                                        </svg>
                                        <h6>Giảm giá</h6>
                                        <h6>20%</h6>
                                        </span>
                                        <h3 class="product-name">
                                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                                        </h3>
                                        <div class="price-box">
                                        <span class="price">690.000₫</span><br>
                                        <span class="compare-price">1.790.000₫</span>
                                        </div>
                                    </div>
                                </form>
                             </div>
                            <!--sp4-->
                
                          <div class="col-md-3 mb-3">
                            <img src="/image/banner_2.webp" alt="">
                          </div>
                            <!--sp5-->
                
                          <div class="col-md-3 mb-3">
                                <form>
                                    <div class="position-relative" data-product-id="sp5">
                                        <div class="img-container" onclick="toggleHeart(this)">
                                        <div class="heart-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                            </svg>
                                        </div>
                                        <img src="/image/dienthoai4.webp" alt="Product Image" class="img-fluid">
                                        </div>
                                        <span class="badge bg-warning position-absolute top-0 start-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                            <path d="M8 0L0 16h16L8 0z"/>
                                        </svg>
                                        <h6>Giảm giá</h6>
                                        <h6>20%</h6>
                                        </span>
                                        <h3 class="product-name">
                                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                                        </h3>
                                        <div class="price-box">
                                        <span class="price">690.000₫</span><br>
                                        <span class="compare-price">1.790.000₫</span>
                                        
                                        </div>
                                    </div>
                                </form>
                          </div>
                            <!--sp6-->
                             <div class="col-md-3 mb-3">
                                <form>
                                    <div class="position-relative" data-product-id="sp6">
                                        <div class="img-container" onclick="toggleHeart(this)">
                                        <div class="heart-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                            </svg>
                                        </div>
                                        <img src="/image/dienthoai5.webp" alt="Product Image" class="img-fluid">
                                        </div>
                                        <span class="badge bg-warning position-absolute top-0 start-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                            <path d="M8 0L0 16h16L8 0z"/>
                                        </svg>
                                        <h6>Giảm giá</h6>
                                        <h6>20%</h6>
                                        </span>
                                        <h3 class="product-name">
                                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                                        </h3>
                                        <div class="price-box">
                                        <span class="price">690.000₫</span><br>
                                        <span class="compare-price">1.790.000₫</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--sp7-->
                             <div class="col-md-3 mb-3">
                                <form>
                                    <div class="position-relative" data-product-id="sp7">
                                        <div class="img-container" onclick="toggleHeart(this)">
                                            <div class="heart-icon">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                            </svg>
                                            </div>
                                        <img src="/image/dienthoai6.webp" alt="Product Image" class="img-fluid">
                                        </div>
                                        <span class="badge bg-warning position-absolute top-0 start-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                            <path d="M8 0L0 16h16L8 0z"/>
                                        </svg>
                                        <h6>Giảm giá</h6>
                                        <h6>20%</h6>
                                        </span>
                                        <h3 class="product-name">
                                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                                        </h3>
                                        <div class="price-box">
                                        <span class="price">690.000₫</span><br>
                                        <span class="compare-price">1.790.000₫</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                </div>
                
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                  <div class="product_list-s py-3">
                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                          <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                           
                          </div>
                          <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="10000">
                              <img src="/image/banner_fashion_1.webp" class="imgss" alt="...">
                              
                            </div>
                            <div class="carousel-item" data-bs-interval="2000">
                              <img src="/image/banner_fashion_2.webp" class="imgss" alt="...">
                             
                            </div>
                            
                          </div>
                          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                          </button>
                          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                          </button>
                        </div>
                      </div>
            
                      <div class="col-md-3 mb-3">
                        <form>
                          <div class="position-relative" data-product-id="sp1">
                            <div class="img-container" onclick="toggleHeart(this)">
                              <div class="heart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                </svg>
                              </div>
                              <img src="/image/sp1.webp" alt="Product Image" class="img-fluid">
                            </div>
                            <span class="badge bg-warning position-absolute top-0 start-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                <path d="M8 0L0 16h16L8 0z"/>
                              </svg>
                              <h6>Giảm giá</h6>
                              <h6>20%</h6>
                            </span>
                            <h3 class="product-name">
                              <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                            </h3>
                            <div class="price-box">
                              <span class="price">690.000₫</span><br>
                              <span class="compare-price">1.790.000₫</span>
                            </div>
                          </div>
                        </form>
                      </div>
                      <!--sp2-->
                      <div class="col-md-3 mb-3">
                        <form>
                          <div class="position-relative" data-product-id="sp2">
                            <div class="img-container" onclick="toggleHeart(this)">
                              <div class="heart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                </svg>
                              </div>
                              <img src="/image/sp2.webp" alt="Product Image" class="img-fluid">
                            </div>
                            <span class="badge bg-warning position-absolute top-0 start-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                <path d="M8 0L0 16h16L8 0z"/>
                              </svg>
                              <h6>Giảm giá</h6>
                              <h6>20%</h6>
                            </span>
                            <h3 class="product-name">
                              <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                            </h3>
                            <div class="price-box">
                              <span class="price">690.000₫</span><br>
                              <span class="compare-price">1.790.000₫</span>
                            </div>
                          </div>
                        </form>
                      </div>
                        <!--sp3-->
                      <div class="col-md-3 mb-3">
                        <form>
                          <div class="position-relative" data-product-id="sp3">
                            <div class="img-container" onclick="toggleHeart(this)">
                              <div class="heart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                </svg>
                              </div>
                              <img src="/image/sp3.webp" alt="Product Image" class="img-fluid">
                            </div>
                            <span class="badge bg-warning position-absolute top-0 start-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                <path d="M8 0L0 16h16L8 0z"/>
                              </svg>
                              <h6>Giảm giá</h6>
                              <h6>20%</h6>
                            </span>
                            <h3 class="product-name">
                              <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                            </h3>
                            <div class="price-box">
                              <span class="price">690.000₫</span><br>
                              <span class="compare-price">1.790.000₫</span>
                            </div>
                          </div>
                        </form>
                      </div>
                        <!--sp4-->
            
                      <div class="col-md-3 mb-3">
                        <form>
                          <div class="position-relative" data-product-id="sp4">
                            <div class="img-container" onclick="toggleHeart(this)">
                              <div class="heart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                </svg>
                              </div>
                              <img src="/image/sp4.webp" alt="Product Image" class="img-fluid">
                            </div>
                            <span class="badge bg-warning position-absolute top-0 start-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                <path d="M8 0L0 16h16L8 0z"/>
                              </svg>
                              <h6>Giảm giá</h6>
                              <h6>20%</h6>
                            </span>
                            <h3 class="product-name">
                              <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                            </h3>
                            <div class="price-box">
                              <span class="price">690.000₫</span><br>
                              <span class="compare-price">1.790.000₫</span>
                            </div>
                          </div>
                        </form>
                      </div>
                        <!--sp5-->
            
                      <div class="col-md-3 mb-3">
                        <form>
                          <div class="position-relative" data-product-id="sp5">
                            <div class="img-container" onclick="toggleHeart(this)">
                              <div class="heart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                </svg>
                              </div>
                              <img src="/image/sp5.webp" alt="Product Image" class="img-fluid">
                            </div>
                            <span class="badge bg-warning position-absolute top-0 start-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                <path d="M8 0L0 16h16L8 0z"/>
                              </svg>
                              <h6>Giảm giá</h6>
                              <h6>20%</h6>
                            </span>
                            <h3 class="product-name">
                              <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                            </h3>
                            <div class="price-box">
                              <span class="price">690.000₫</span><br>
                              <span class="compare-price">1.790.000₫</span>
                            </div>
                          </div>
                        </form>
                      </div>
                        <!--sp6-->
                      <div class="col-md-3 mb-3">
                        <form>
                          <div class="position-relative" data-product-id="sp6">
                            <div class="img-container" onclick="toggleHeart(this)">
                              <div class="heart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                </svg>
                              </div>
                              <img src="/image/sp6.webp" alt="Product Image" class="img-fluid">
                            </div>
                            <span class="badge bg-warning position-absolute top-0 start-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                <path d="M8 0L0 16h16L8 0z"/>
                              </svg>
                              <h6>Giảm giá</h6>
                              <h6>20%</h6>
                            </span>
                            <h3 class="product-name">
                              <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                            </h3>
                            <div class="price-box">
                              <span class="price">690.000₫</span><br>
                              <span class="compare-price">1.790.000₫</span>
                            </div>
                          </div>
                        </form>
                      </div>
                        <!--sp7-->
                      <div class="col-md-3 mb-3">
                        <form>
                          <div class="position-relative" data-product-id="sp7">
                            <div class="img-container" onclick="toggleHeart(this)">
                              <div class="heart-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                                </svg>
                              </div>
                              <img src="/image/sp8.jpg" alt="Product Image" class="img-fluid">
                            </div>
                            <span class="badge bg-warning position-absolute top-0 start-0">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                                <path d="M8 0L0 16h16L8 0z"/>
                              </svg>
                              <h6>Giảm giá</h6>
                              <h6>20%</h6>
                            </span>
                            <h3 class="product-name">
                              <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                            </h3>
                            <div class="price-box">
                              <span class="price">690.000₫</span><br>
                              <span class="compare-price">1.790.000₫</span>
                            </div>
                          </div>
                        </form>
                      </div>
                      
                     
                    </div>
                  </div>
                </div>
                
            <!-----tab3-->
                <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                  <div class="product_list-s py-3">
              <div class="row">
                <div class="col-md-3 mb-3">
                  <img src="/image/banner_3_tab.webp" alt="">
                </div>
      
                <div class="col-md-3 mb-3">
                  <form>
                    <div class="position-relative" data-product-id="sp1">
                      <div class="img-container" onclick="toggleHeart(this)">
                        <div class="heart-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                          </svg>
                        </div>
                        <img src="/image/dogiadung2.jpg" alt="Product Image" class="img-fluid">
                      </div>
                      <span class="badge bg-warning position-absolute top-0 start-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                          <path d="M8 0L0 16h16L8 0z"/>
                        </svg>
                        <h6>Giảm giá</h6>
                        <h6>20%</h6>
                      </span>
                      <h3 class="product-name">
                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                      </h3>
                      <div class="price-box">
                        <span class="price">690.000₫</span><br>
                        <span class="compare-price">1.790.000₫</span>
                      </div>
                    </div>
                  </form>
                </div>
                <!--sp2-->
                <div class="col-md-3 mb-3">
                  <form>
                    <div class="position-relative" data-product-id="sp2">
                      <div class="img-container" onclick="toggleHeart(this)">
                        <div class="heart-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                          </svg>
                        </div>
                        <img src="/image/giadung1.webp" alt="Product Image" class="img-fluid">
                      </div>
                      <span class="badge bg-warning position-absolute top-0 start-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                          <path d="M8 0L0 16h16L8 0z"/>
                        </svg>
                        <h6>Giảm giá</h6>
                        <h6>20%</h6>
                      </span>
                      <h3 class="product-name">
                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                      </h3>
                      <div class="price-box">
                        <span class="price">690.000₫</span><br>
                        <span class="compare-price">1.790.000₫</span>
                      </div>
                    </div>
                  </form>
                </div>
                  <!--sp3-->
                <div class="col-md-3 mb-3">
                  <form>
                    <div class="position-relative" data-product-id="sp3">
                      <div class="img-container" onclick="toggleHeart(this)">
                        <div class="heart-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                          </svg>
                        </div>
                        <img src="/image/may-xay-an-dam-03l-bear-qsj-a01f2-gr-b03v2-12062021.webp" alt="Product Image" class="img-fluid">
                      </div>
                      <span class="badge bg-warning position-absolute top-0 start-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                          <path d="M8 0L0 16h16L8 0z"/>
                        </svg>
                        <h6>Giảm giá</h6>
                        <h6>20%</h6>
                      </span>
                      <h3 class="product-name">
                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                      </h3>
                      <div class="price-box">
                        <span class="price">690.000₫</span><br>
                        <span class="compare-price">1.790.000₫</span>
                      </div>
                    </div>
                  </form>
                </div>
                  <!--sp4-->
      
                <div class="col-md-3 mb-3">
                  <form>
                    <div class="position-relative" data-product-id="sp4">
                      <div class="img-container" onclick="toggleHeart(this)">
                        <div class="heart-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                          </svg>
                        </div>
                        <img src="/image/may-xay-an-dam-3-coi-bear-llj-c04j1-gr-b03v1-12062021.webp" alt="Product Image" class="img-fluid">
                      </div>
                      <span class="badge bg-warning position-absolute top-0 start-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                          <path d="M8 0L0 16h16L8 0z"/>
                        </svg>
                        <h6>Giảm giá</h6>
                        <h6>20%</h6>
                      </span>
                      <h3 class="product-name">
                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                      </h3>
                      <div class="price-box">
                        <span class="price">690.000₫</span><br>
                        <span class="compare-price">1.790.000₫</span>
                      </div>
                    </div>
                  </form>
                </div>
                  <!--sp5-->
      
                <div class="col-md-3 mb-3">
                  <form>
                    <div class="position-relative" data-product-id="sp5">
                      <div class="img-container" onclick="toggleHeart(this)">
                        <div class="heart-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                          </svg>
                        </div>
                        <img src="/image/noi-nau-cham-08l-bear-sube001-ban-quoc-te-11012021.webp" alt="Product Image" class="img-fluid">
                      </div>
                      <span class="badge bg-warning position-absolute top-0 start-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                          <path d="M8 0L0 16h16L8 0z"/>
                        </svg>
                        <h6>Giảm giá</h6>
                        <h6>20%</h6>
                      </span>
                      <h3 class="product-name">
                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                      </h3>
                      <div class="price-box">
                        <span class="price">690.000₫</span><br>
                        <span class="compare-price">1.790.000₫</span>
                      </div>
                    </div>
                  </form>
                </div>
                  <!--sp6-->
                <div class="col-md-3 mb-3">
                  <form>
                    <div class="position-relative" data-product-id="sp6">
                      <div class="img-container" onclick="toggleHeart(this)">
                        <div class="heart-icon">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                          </svg>
                        </div>
                        <img src="/image/noi-com-dien-tu-comfee-cr-fd1820c-18l-nau-socola-thumb-600x600.jpg" alt="Product Image" class="img-fluid">
                      </div>
                      <span class="badge bg-warning position-absolute top-0 start-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                          <path d="M8 0L0 16h16L8 0z"/>
                        </svg>
                        <h6>Giảm giá</h6>
                        <h6>20%</h6>
                      </span>
                      <h3 class="product-name">
                        <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                      </h3>
                      <div class="price-box">
                        <span class="price">690.000₫</span><br>
                        <span class="compare-price">1.790.000₫</span>
                      </div>
                    </div>
                  </form>
                </div>
                  <!--sp7-->
                <div class="col-md-3 mb-3">
                  <form>
                        <div class="position-relative" data-product-id="sp7">
                        <div class="img-container" onclick="toggleHeart(this)">
                            <div class="heart-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 3.078l-.65-.62C6.318 1.787 4.655 1 2.8 1 1.173 1 0 2.09 0 3.508 0 5.065 1.567 6.19 4.2 8.324L8 11l3.8-2.676C14.433 6.19 16 5.065 16 3.508 16 2.09 14.827 1 13.2 1c-1.854 0-3.518.787-5.55 1.458L8 3.078z"/>
                            </svg>
                            </div>
                            <img src="/image/RK733168-600x600-1.jpg" alt="Product Image" class="img-fluid">
                        </div>
                        <span class="badge bg-warning position-absolute top-0 start-0">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-triangle" viewBox="0 0 16 16">
                            <path d="M8 0L0 16h16L8 0z"/>
                            </svg>
                            <h6>Giảm giá</h6>
                            <h6>20%</h6>
                        </span>
                        <h3 class="product-name">
                            <a href="/kappa-giay-the-thao-nam-nu-001" title="Kappa giày thể thao Nam/Nữ 001">Kappa giày thể thao Nam/Nữ 001</a>
                        </h3>
                        <div class="price-box">
                            <span class="price">690.000₫</span><br>
                            <span class="compare-price">1.790.000₫</span>
                        </div>
                        </div>
                    </form>
                </div>
              </div>
              </div>
            </div>
          </div>
             
        
        