 <!--Loading---------------->
 <div id="page-loader" class="d-flex-center">
    <div class="loader">
      
    </div>
  </div>
<!--Alter----------------->
    <div class="container mt-5 content">    
      <div class="alert alert-success fade d-none d-flex-center" id="successAlert" role="alert">
          Trang web đã được load thành công!
      </div>
    </div>
<!--Progessbar-------------->
<div class="progress" id="pageProgress">
  <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">  </div>
</div>